<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Selam Hello Page</h1>
   
    <!-- <form action="." method="GET">
        {{ form }}
    </form>
   

    <h1>{{ title }} <br /><br /></h1>

    {{ title }} <br />
    {{ dict_1 }} <br />
    {% for i in my_list %} {% if i == 3 %}
    <p>Bu sayı 3 e eşit</p>
    {% else %} {{ i }} <br />
    {% endif %} {% endfor %} {{ cat }}<br />
    <hr />
    {{ title | title }} <br />
    {{ title | title }} <br /> -->
     <!-- <form action="http://www.google.com/search" method="GET">
      <input type="text" name="text" placeholder="title" />
      <input type="submit" value="search" id="" />
    </form> -->
  </body>
</html>

